<!DOCTYPE html>
<html ng-app="myFirstApp">
<head>
	<title>Kurs Angulara</title>
	  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
	<header></header>
	<div class="container">
		<h1>Moje imie w ASCII:</h1>
		<br>
		<input type="text" id="name">
		<div id="output"></div>

		<div ng-controller="MyFirstController">{{sayHello()}}
			<input type="text" ng-model="name">Mozna zmienic ta wartosc w inpucie na: {{name}} 
			<div>{{price |currency:"ZL"}}</div>
		</div>
		
		<article ng-controller="tvSeries">
			<div class="container">
				<h3>{{title}}</h3>
				<div ng-repeat="product in products">
					<p class="title">{{product.name}}</p>
					<p class="price">{{product.price |currency}}</p>
					<p class="date">{{product.pubdate | date}}</p>
					<p class="likes" ng-click="plusOne($index)">+ {{ product.likes }} </p>
				</div>
			</div>
		</article>
		<article ng-controller="nameCalculatorController">
			<input type="text" ng-model="name" ng-keyup="displayNumeric();">
			<div>{{totalValue}}</div>
			<div>{{name}}</div>
		</article>

	</div>
		
	<script src="../js/jquery.js"></script>
	<script src="../js/angular.js"></script>	
	<script src="../js/kursAngular.js"></script>
</body>
</html>